@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MyFontBold';
  src: url('./fonts/TTTravels-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'MyFontLight';
  src: url('./fonts/TTTravels-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'MyFontMedium';
  src: url('./fonts/TTTravels-Medium.ttf') format('truetype');
}

.banner-heading-text{
  font-family: 'MyFontBold', sans-serif;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.banner{
  background-image: url('./assets/Media/HomePage/BackgroundElements/Background.png');
  background-color: #191D29; 
  width: 100%;
  min-height: 100vh;
  padding: 4rem 0rem !important;
  background-size: cover;
  background-position: center;
}

.medium-green{
  color: #9DFE00
}

.medium-blue{
  color: #14D9EF
}

.watch-now-button{
  font-family: 'MyFontMedium', sans-serif;
  background: linear-gradient(to right, #9DFE00, #14D9EF);
  outline: none;
  border: none;
  border-radius: 35px;
  padding: 1rem 2rem;
}

.message{
  font-family: 'MyFontLight', sans-serif;
  font-size:0.8rem;
  line-height: 1.5;
}

.character-card{
  font-family: 'MyFontLight', sans-serif;
  border: 0.45px solid;
  border-radius: 15px !important;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #9DFE00, #14D9EF);
}

.character-card img{
  border-radius: 8px;
}

.view-all-button{
  font-family: 'MyFontMedium', sans-serif;
  background: transparent;
  border: 0.45px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #9DFE00, #14D9EF);
  padding: 0.5rem 1rem;
  transition: background 3s ease !important;
}

.view-all-button:hover{
  background: linear-gradient(to right, #9DFE00, #14D9EF);
}

/* .cq{
  margin-top: 2rem;
} */